#navbar {
    background: blue;
    height: 60px;
    /* display: 'flex'; */
}
/* .main {
    display: flex;
    flex-wrap: wrap;
} */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1 {
    text-align: center;
}

.nav-item {
    padding: 15px;
    display: inline-block;
    margin: 1px 10px;
    text-align: left;
}
.contact {
    color: white;
    font-size: 22px;
    margin: 8px;
}
a.nav-link {
    color: white;
}
body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background: linear-gradient(#01579b, #03a9f4);
    background-repeat: no-repeat;
}

.card-main {
    padding: 50px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 4px 8px 0px #283593;
}

.card-0 {
    color: #fff;
    background-color: #536dfe;
    position: relative;
    margin-left: 70px;
    border-radius: 10px;
    min-height: 312px;
}

.carousel-indicators li {
    cursor: pointer;
    border-radius: 50% !important;
    width: 10px;
    height: 10px;
}

.profile {
    color: #000;
    background-color: #ffd54f;
    position: absolute;
    left: -70px;
    top: 17%;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content {
    margin-left: 150px;
    margin-right: 80px;
}

@media screen and (max-width: 600px) {
    .card-main {
        padding: 50px 10px;
    }

    .card-0 {
        min-height: 432px;
    }

    .profile {
        top: 24%;
    }

    .profile-pic {
        width: 90px;
        height: 90px;
    }

    .open-quotes {
        margin-left: 100px;
    }

    .content {
        margin-left: 120px;
        margin-right: 50px;
    }
}

#title-Tag-Line {
    font-size: 20px;
}
/* .card-item__bg{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: block;
    position: relative;
    margin: 30px auto;
    transform: translate(0px, 50px);
    z-index: 5;
  } */

/* form animation starts */
